#container {
  display: flex;
  flex-direction: column;

  mat-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 1em;

    & > div {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5em;
      padding-top: 0.5em;
      border-top: 1px rgba($color: #000000, $alpha: 0.2) solid;
    }
    & > p {
      margin-top: 1em;
      align-self: center;
    }
    .dots {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      align-self: flex-end;
    }

    .p1 {
      background-color: red;
    }
    .p2 {
      background-color: yellow;
    }
    .p3 {
      background-color: orange;
    }
  }
}
