@import "~@angular/material/theming";
@import "../../../styles-variables";

.container {
  display: flex;
  width: 95vw;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  .container {
    width: 80vw;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, iphone5)) {
  .container {
    width: 90vw;
  }
}