@import "~@angular/material/theming";

@mixin custom-table-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  #container {
    border-style: solid;
    border-width: 1px;
    border-color: mat-color($primary);

    .background-primary {
      background-color: mat-color($primary);
    }

    .background-accent {
      background-color: mat-color($accent);
    }

    .background-warning {
      background-color: mat-color($warn);
    }
  }
}
