#container {
  padding: 0;
  .header {
    display: grid;
    padding: 0;

    justify-items: center;
    align-items: center;
    text-align: center
  }

  .rowEven {
    display: grid;

    justify-items: center;
    align-items: center;
    text-align: center
  }
  .rowOdd {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center
  }
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  img {
    width: 15px;
    height: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .imageColumn {
    float: left;
  }
}
