<mat-card id="container">
  <div class="header grid-{{ table.numberOfColumns }}">
    <p *ngFor="let column of table.header">{{ column }}</p>

    <p *ngIf="table.button == true">button</p>
  </div>
  <div *ngFor="let row of rows; let i = index">
    <div
      *ngIf="i % 2 == 0; else odd"
      class="rowEven grid-{{ table.numberOfColumns }} background-primary "
    >
      <div *ngFor="let column of row; let j = index">
        <div *ngIf="j == table.imagePosition - 1; else notImage">
          <div *ngFor="let image of table.images[i]" class="imageColumn">
            <img src="{{ image }}" />
          </div>
        </div>
        <ng-template #notImage>
          <div>
            {{ column }}
          </div>
        </ng-template>
      </div>

      <button mat-flat-button color="primary" *ngIf="table.button == true">
        join
      </button>
    </div>

    <ng-template #odd>
      <div class="rowOdd grid-{{ table.numberOfColumns }} ">
        <div *ngFor="let column of row; let j = index">
          <div *ngIf="j == table.imagePosition - 1; else notImage">
            <div *ngFor="let image of table.images[i]" class="imageColumn">
              <img src="{{ image }}" />
            </div>
          </div>
          <ng-template #notImage>
            <div>
              {{ column }}
            </div>
          </ng-template>
        </div>

        <button mat-flat-button color="primary" *ngIf="table.button == true">
          join
        </button>
      </div>
    </ng-template>
  </div>
</mat-card>
