// Define an alternate teacher theme.
$teacher-primary: mat-palette($mat-blue-grey);
$teacher-accent: mat-palette($mat-amber, A200, A100, A400);
$teacher-warn: mat-palette($mat-deep-orange);

$teacher-main-theme: mat-light-theme(
  $teacher-primary,
  $teacher-accent,
  $teacher-warn
);
