@import '~@angular/material/theming';

@mixin login-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  h1,
  h3 {
    color: mat-color($primary);
  }

  .login-errors {
    color: mat-color($warn);
  }
}