<div class="background">
  <div class="wrapper">
    <div class="form">
      <mat-card>
        <h1 id="title" style="text-align: center;">Team Up</h1>
        <h3 style="text-align: center;">A better way to form groups</h3>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <mat-form-field>
            <mat-label>University</mat-label>
            <mat-select ngModel name="university" required>
              <mat-option *ngFor="let item of items" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <mat-error>
              Choose your university.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              ngModel
              name="email"
              type="text"
              matInput
              placeholder="Email"
              required
              email
            />
            <mat-error>
              a valid email is required.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              ngModel
              name="password"
              type="password"
              matInput
              placeholder="Password"
              required
            />
            <mat-error>
              A password is required.
            </mat-error>
          </mat-form-field>
          <p style="color: red" *ngIf="errors">
            {{ message }}
          </p>
          <div>
            <button mat-flat-button color="primary" style="width: 100%">
              Login
            </button>
          </div>
          <div style="display: grid; grid-template-columns: 1fr 1fr; ">
            <mat-checkbox>Remeber me </mat-checkbox>
            <p style="text-align: right; margin: 0">need help?</p>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="overlay"></div>
</div>
