<div class="background">
  <div class="wrapper">
    <div class="form">
      <mat-card>
        <h1 style="text-align: center;">Team Up</h1>
        <p style="text-align: center;">a better way to form groups</p>
        <form>
          <mat-form-field>
            <mat-label>University</mat-label>
            <mat-select>
              <mat-option> </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" />
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" />
          </mat-form-field>
          <div>
            <button mat-flat-button color="primary" style="width: 100%">
              Login
            </button>
          </div>
          <div>
            <mat-checkbox>Remeber me </mat-checkbox>
            <p style="text-align: right;">need help?</p>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="overlay"></div>
</div>
