
<div class="background">
  <div class="filter">
    <div class="wrapper">
      <div class="form">
        <mat-card>
          <h1>Team Up</h1>
          <p>a better way to form groups</p>
          <form>
            <mat-form-field>
              <mat-label>University</mat-label>
              <mat-select>
                <mat-option> </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" />
            </mat-form-field>
            <mat-form-field>
              <input type="text" matInput placeholder="Password" />
            </mat-form-field>
            <div>
              <button mat-flat-button color="primary">Login</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
