
.filter{

    background-color: #000005;
    opacity: 0.8;
    }
.background{
     background-image: url('../../../assets/login-background.jpg');
    
    }

.wrapper{
   
     
    display: grid;
    grid-auto-rows: minmax(400px,auto);
    justify-items: end;
    align-items: center;

     padding: 2em;
    
    }

.form{
   display: grid;
   grid-template-columns: 1fr; 
   
    width: 300px;
    height:400px
   padding: 1em;

    }
