.container{
    display: grid;
    width: 100%;
    height: 5vh;
    background: #e0e0e0
    }

    .test{
        margin-top: 120px;
    }

    .default-shadow {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat-elevation(2);
}